body {
    font-family: Arial, sans-serif;
}
#calendar {
    max-width: 900px;
    margin: 40px auto;
}
#event-list {
    margin-top: 20px;
}
.event-item {
    margin-bottom: 10px;
}
.add-event-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 9%;
    background-color: #a1c9d8;
    color: white;
    border: none;
    cursor: pointer;
}
.add-event-btn:hover {
    background-color: #6793a3;
}
.event-form {
    display: none;
    margin-top: 20px;
}
.event-form input, .event-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}