
/*Formarto oferta de iniciar sesión*/
.ofertalogin{
    font-size: 0.8em; 
    color: grey;
  }
  .ofertalogin a{
    font-size: 1.2em; 
    font-weight: bold;
    color: darkgrey;
    text-decoration:none;
  }
  
  .ofertalogin a:hover{
    color: darkkhaki;
    font-size: 1.5em; 
    transition: 3ms;
    text-decoration: underline;
  }
  
  
  
  .contenedor-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Espaciado entre columnas */
    gap: 20px; /* Espacio entre los elementos */
    padding: 5px;
  }
  
  .crearcuenta, .resenas {
    flex: 1; /* Ambas columnas toman el mismo espacio */
  }
  
  /* Asegurar que el contenido no sea demasiado ancho */
  .crearcuenta {
    max-width: 49%;
  }
  
  .resenas {
    max-width: 49%;
  }
  
  
  
  
  
  /* Formato formulario inicio sesión*/
  
  .form-login{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;  
    padding: 3%;
  
  }
  
  
  /* Formato formulario crear cuenta*/
  
  .form-cuenta{
    margin-left: 7%;
  
  }
  
  .form-group {
      margin-bottom: 5px;
  }
  
  .form-box {
      width: 100%;
      padding: 12px 10px 12px 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 0.9em;
  }
  
  .form-box:focus {
      outline: none;
      border-color: #3b82f6;
  }
  
  .label {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      font-size: 16px;
      color: #aaa;
      pointer-events: none;
      transition: 0.3s ease;
  }

  .labelcheck {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: 0.3s ease;
}

  
  .form-box:focus + .label,
  .form-box:not(:placeholder-shown) + .label {
      top: 0;
      font-size: 12px;
      color: #3b82f6;}