
  
  /* Estilos generales para la barra de navegación */
.navbar-general {
    display: flex;
    justify-content: flex-start; /* Alinea los elementos a la izquierda */
    align-items: center;
   /*align-items: left;*/
    background: rgba(255, 255, 255, 0.8); /* Fondo translúcido */
    backdrop-filter: blur(10px); /* Efecto difuminado */
    padding: 15px 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    gap: clamp(20px, 60vw, 70vw);
}


/* Contenedor de los enlaces */
.navbar-links {
    display: flex;
    gap: 20px;
}

/* Estilos de los enlaces */
.navbar-links a {
    display: flex;
    text-decoration: none;
    font-size: 1.2rem;
    color: #555;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}

/* Efecto hover en los enlaces */
.navbar-links a:hover {
    background: #e0e2e5;
    color: white;
}

.user-profile a {
    gap: 10px;
    /* margin: left 10%; Mueve el contenedor de usuario a la izquierda */
    text-decoration: none;
    font-size: 1.2rem;
    color: #555;
    padding: 10px 15px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
}


/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
        position: relative;
        gap: clamp(20px, 20vw, 40vw);


    }

    .navbar-links {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .navbar-links a {
        display: block;
        width: 100%;
    }
}
