
/* Importar la fuente desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Poppins:wght@300;400;500&display=swap');

.site-container {
  display: flex;
  flex-direction: column;
  /* z-index: 10; */
}

/* Estilos para el header */
.menu {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
  display: flex;
  align-items: center;
  gap: clamp(20px, 40vw, 40vw);
}

/*Formato de la imagen del header*/
.header-container {
  margin-top: 10vh;
  position: relative;
  display: flex;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;

}

.imgportada {
  height: 40vh;  
  object-fit: cover;
  object-position: center;
  width: 100%;
  z-index: -1; /* Envía la imagen al fondo para que el texto quede encima */
  position: relative; /* Asegura que respete su contenedor */
}


.header-container h1 {
  position: absolute;
  font-family:Impact;

  transform: translate(0%, 0%); /* Ajuste fino */
  color: white; /* Asegurar visibilidad */
  font-size: clamp(6rem, 10vw, 14rem); /* Tamaño mínimo: 2rem, dinámico: 5% del ancho de la pantalla, máximo: 8rem */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Para mejorar contraste */
}


/* Estilos para el cuerpo */
.site-body {
  flex: 1; /* Permite que el body ocupe el espacio disponible */
  padding: 20px;
  /* margin-top: 8vh; */
  overflow: hidden; /* Evita que el contenido desborde */
}

/* Estilos para el footer */
.site-footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: auto; /* Asegura que el footer se mantenga al final */
}

.contenedor-main-cuidador {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espaciado entre columnas */
  gap: 20px; /* Espacio entre los elementos */
  padding: 5px;
}

/* Estilos generales para el body */
body {
  font-family: 'Roboto', sans-serif; /* Fuente de la página */
  background-color: #f4f7fb; /* Color de fondo suave */
  color: #333;
  display: flex;
  flex-direction: column; /* Organiza los elementos verticalmente */
  min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
  line-height: 1.6; /* Mejora la legibilidad */
  margin: 0;
  padding: 0;
}

/* Estilo para los encabezados (títulos) */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif; /* Fuente para los títulos */
    color: #333; /* Color oscuro para los títulos */
    font-weight: 700;
    margin-bottom: 15px;
}

/* Estilo para los párrafos */
p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #666; /* Color gris suave para párrafos */
    margin-bottom: 20px;
}

/* Botones */
button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: #8eaccc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Reseteo básico de márgenes y padding */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */



  /* Estilos generales para la barra de navegación */
  .navbar-general {
    display: flex;
    flex-direction: row;
    justify-content:space-around; 
    align-items: center;
    background: rgba(255, 255, 255, 0.8); /*Fondo translúcido*/
    backdrop-filter: blur(10px); /* Efecto difuminado */ 
    padding: 15px 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100vw;
    z-index: 1000;
    margin-bottom: 20px;
}


/* Contenedor de los enlaces */
.navbar-links {
  display: flex;
  gap: 20px;
}

/* Estilos de los enlaces */
.navbar-links a {
  display: flex;
  text-decoration: none;
  font-size: 1.2rem;
  color: #555;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}

/* Efecto hover en los enlaces */
.navbar-links a:hover {
  background: #e0e2e5;
  color: white;
}

.user-profile a {
  /* display: flex; */
  /* flex-direction: row; */
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 1rem;
  color: #555;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
}



/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column;
      padding: 10px;
      position: relative;
      gap: clamp(20px, 20vw, 40vw);


  }

  .navbar-links {
      flex-direction: column;
      text-align: center;
      gap: 10px;
  }

  .navbar-links a {
      display: block;
      width: 100%;
  }
}


