<!DOCTYPE html>
<html lang="es">
  <head>
  </head>
<body>
    <nav class="navbarcliente">
        <div class="navbar-cliente">
            <a href="/puppyCare/PuppyCare/index.html">Inicio</a>
            <a href="perfil.html">Modificar datos personales</a>
            <a href="opcionesReserva.html">Modificar opciones de reserva</a>
            <a href="calendario.html">Ver o modificar calendario</a>
            <a href="mensajes.html">Ver mis mensajes</a>
            <a href="//localhost/puppyCare/PuppyCare/cliente/logout">Cerrar sesión</div> <!-- corregir-->
        </div>
        </nav> 
</body>
</html>