<!DOCTYPE html>
<html lang="es">

<head>
</head>

<body>
  <nav class="navbarcliente">
    <div class="navbar-cliente">
      <a href="/puppyCare/PuppyCare/index.html">Inicio</a>
      <a href="perfil.html">Modificar datos personales</a>
      <a href="opcionesReserva.html">Modificar opciones de reserva</a>
      <a href="calendario.html">Ver o modificar calendario</a>
      <a href="mensajes.html">Ver mis mensajes</a>
      <a href="" id="logout-btn">Cerrar sesión</a>
    </div> 
    </div>
  </nav>
  <script src="/puppyCare/PuppyCare/scripts/cerrar_sesion.js"></script>
</body>
</html>