<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="//localhost/puppyCare/PuppyCare/css/header.css">
  </head>

  <nav class="navbar-general">
    <div class="navbar-links">
        <a href="//localhost/puppyCare/PuppyCare/index.html">Inicio</a>
        <a href="//localhost/puppyCare/PuppyCare/cliente.html">Clientes</a>
        <a href="//localhost/puppyCare/PuppyCare/cuidador.html">Cuidadores</a>
    </div>
    <div id="user-container"></div>
</nav>
<body>
  <script src="//localhost/puppyCare/PuppyCare/scripts/userdisplaymenu.js"></script>
  <script src="//localhost/puppyCare/PuppyCare/scripts/cerrar_sesion.js"></script>


</body>

</html>

