<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">  
  </head>

    <div>
        <h2>Nuestros clientes opinan</h2>
        <div class="carousel-container">
          <div class="carousel-resena">
            <div class="cardResena">
              <div>
              <img src="img/ficharesenas/user1.png" alt="Avatar">
            </div>
              <div class="resena-container">
                <h3>María López</h3>
                <div class="puntuacionestrellas">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
               
                <p>"El servicio es excepcional; mi cachorro siempre recibe atención personalizada y mucho cariño."</p>
              </div>
              </div>
            </div>
            <div class="cardResena">
              <img src="img/ficharesenas/user2.png" alt="Avatar">
              <div class="resena-container">
                <h3>José Martínez</h3>
                <div class="puntuacionestrellas">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <p>"Profesionales y atentos. Ofrecen el mejor cuidado para mi perro. Muy recomendable."</p>
              </div>
            </div>
            <div class="cardResena">
              <img src="img/ficharesenas/user3.png" alt="Avatar">
              <div class="resena-container">
                <h3>Laura Sánchez</h3>
                <div class="puntuacionestrellas">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <p>"Puppy Care superó mis expectativas con su dedicación y compromiso. Servicio de calidad."</p>
              </div>
            </div>
            <div class="cardResena">
              <img src="img/ficharesenas/user4.png" alt="Avatar">
              <div class="resena-container">
                <h3>Pedro García</h3>
                <div class="puntuacionestrellas">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <p>"Ambiente seguro y cálido. Mi mascota se siente feliz y bien cuidada en todo momento."</p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
      
</html>