<!DOCTYPE html>
<html lang="es">
<head>
<link rel="stylesheet" href="header.css">
<script src="//localhost/puppyCare/PuppyCare/scripts/cerrar_sesion.js"></script>
</head>
<body>
    <div class="user-profile">
        <a href="//localhost/puppyCare/PuppyCare/cliente/perfil.html">
            <img src="//localhost/puppyCare/PuppyCare/img/default-avatar.png" alt="Avatar">
            <span id="user-name"></span>
        </a>
        <a href="" id="logout-btn" class="logout-button">Cerrar sesión</a>
    </div>
</body>
</html>