



/* Formato de reseñas en el index*/

.carousel-container {
    width: auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    white-space: nowrap; /* Evita que los elementos salten de línea */
  }

  .carousel-resena {
      display: flex; /* Alinea los elementos en una fila*/
      transition: transform 0.8s ease-in-out; 
  }
  
  .cardResena {
      flex: 0 0 90%; /* Cada tarjeta ocupa el 100% del contenedor */
      transition: 0.3s;
      border: 1px solid #ddd;
      padding: 5%;
      background: white;
      text-align: center;
      border-radius: 10px;
  }
  .cardResena:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .cardResena img {
    flex: inherit;
    height: 10px;
    width: 10px;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
  }

  .puntuacionestrellas i {
    color: gold;
    font-size: 1.2em;
    margin-right: 2px;
  }