



/* Formato de reseñas en el index*/
/* On mouse-over, add a deeper shadow */
.cardResena:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

  .cardResena {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    transition: 0.3s;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .cardResena img {
    height: 8%;
    width: 8%;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
  }

  .puntuacionestrellas i {
    color: gold;
    font-size: 1.2em;
    margin-right: 2px;
  }