<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="css/header.css">
  </head>
    <nav class="navbarcliente">
    <div class="navbar-cliente">
        <a href="index.html">Inicio</a>
        <a href="index.html">Mis datos</a>
        <a href="index.html">Mis mascotas</a>
        <a href="index.html">Hacer una reserva</a>
        <a href="index.html">Ver mis reservas</a>        
        <a href="index.html">Ver mis mensajes</a>
        <div id="user-container"></div>
    </div>
    </nav>
<body>
  <script src="../scripts/userdisplaymenu.js"></script>
</body>
</html>