<!DOCTYPE html>
<html lang="es">
  <head>
  </head>
<body>
    <nav class="navbarcliente">
        <div class="navbar-cliente">
            <a href="/puppyCare/PuppyCare/index.html">Inicio</a>
            <a href="perfil.html">Mis datos</a>
            <a href="mascotas.html">Mis mascotas</a>
            <a href="crearReserva.html">Hacer una reserva</a>
            <a href="reservas.html">Ver mis reservas</a>
            <a href="mensajes.html">Ver mis mensajes</a>
            <a href="//localhost/puppyCare/PuppyCare/cliente/logout">Cerrar sesión</div> <!-- corregir-->
        </div>
        </nav> 
</body>
</html>