body{
padding-top: 5%;

}

    /* Estilo para el formulario */
    form {
        margin-bottom: 20px;
      }
      /* Contenedor de tarjetas */
      #mascotas-container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
      }
      /* Estilo para cada tarjeta */
      .card {
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 16px;
        width: 300px;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
        background-color: #fff;
      }
      .card h3 {
        margin-top: 0;
        margin-bottom: 8px;
      }
      .card p {
        margin: 4px 0;
      }

      #map {
        height: 500px; /* O cualquier otra altura */
        width: 60vh;
      }
       
      #contenedor {
        display: flex;
        gap: 10px;
    }
    
    #map {
        width: 70%;
        height: 500px;
    }
    
    #lista-cuidadores {
        width: 30%;
        overflow-y: auto;
        max-height: 500px;
    }
    
    .cuidador-item {
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 5px;
    }
    
    .marker-number {
        background: rgb(3, 56, 25);
        color: white;
        font-size: 16px;
        text-align: center;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    